.a-unstyled { color: #333; }
.a-unstyled:link { color: #333; }
.a-unstyled:visited { color: #333; }
.a-unstyled:hover { color: #000; }
.a-unstyled:active { color: #333; }

.navbar-inverse .a-unstyled { color: #969696; }
.navbar-inverse .a-unstyled:link { color: #969696; }
.navbar-inverse .a-unstyled:visited { color: #969696; }
.navbar-inverse .a-unstyled:hover { color: #FFF; }
.navbar-inverse .a-unstyled:active { color: #969696; }

textarea{
  height: 125px !important;
}

#profilePicture{
  width: 100%;
}

.parallax{
  background-image: url("img/Beach.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.jumbotron{
  background-image: url("img/jumbotron.jpg");
  height: 91vh;
  background-repeat: no-repeat, repeat;
  background-position: bottom; /* Center the image */
  color: black;
  background-size: cover;
}

.align-vert{
  position:absolute;
  margin: auto;
  top: 25%;
  background-color: white;
}


.word-opacity{
  opacity: 1;
}
.div-opacity{
  opacity: 0.7;
}
